<h1>Driver Chat!</h1>
<p>You're signed in as <%= current_driver.email %> <%= link_to "Log oot", destroy_driver_session_path, "data-turbo-method": :delete %></p>


<ul>
  <% @dispatch_messages.each do | message | %>
    <li>
      <%= message.content %>
      <%= message.message_type %>
      <%= if message.staff_id == nil then "Me" else "Staff" end %>
      <%= message.driver_id %>
    </li>
  <% end %>
</ul>

<%= form_with model: @message do |form| %>
  <div>
    <%= form.hidden_field :message_type, value:"D" %>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<ul>
  <% @area_messages.each do | message | %>
    <li>
      <%= message.content %>
      <%= message.driver_id %>
    </li>
  <% end %>
</ul>

<%= form_with model: @message do |form| %>
  <div>
    <%= form.hidden_field :message_type, value:"A" %>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>