<%= form_for @notice do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :start_date %><br>
    <%= form.date_select :start_date %>
  </div>

  <div>
    <%= form.label :start_time %><br>
    <%= form.time_select :start_time %>
  </div>

  <div>
    <%= form.label :end_date %><br>
    <%= form.date_select :end_date %>
  </div>

  <div>
    <%= form.label :end_time %><br>
    <%= form.time_select :end_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>