<%= form_for @notice do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <br><div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <br><div>
    <%= form.label :start_datetime %><br>
    <%= form.datetime_field :start_datetime %>
  </div>

  <br><div>
    <%= form.label :end_datetime %><br>
    <%= form.datetime_field :end_datetime %>
  </div>

  <br><div>
    <%= form.label "Area" %>
    <%= form.collection_select :area_id, Area.all, :id, :name %>
  </div>

  <br><div>
    <%= form.submit %>
  </div>
<% end %>