<h1>Active notices</h1>

<%= render 'notices/notice_list', notices: @active_notices %>

<br>

<% if staff_signed_in? %>
  <%= link_to "New notice", new_notice_path %>
  <h1>Expired notices</h1>
  <%= render 'notices/notice_list', notices: @expired_notices %>
  <h1>Upcoming notices</h1>
  <%= render 'notices/notice_list', notices: @upcoming_notices %>
  <p>You're signed in as <%= current_staff.email %>
<% end %>

<br><br>

<% if staff_signed_in? %>
  <%= link_to 'back', staff_home_index_path %>
<% elsif driver_signed_in?%>
  <%= link_to 'back', driver_home_index_path %>
<% end %>