<h1>Areas</h1>
<p>You're signed in as <%= current_staff.email %> <%= link_to "Log oot", destroy_staff_session_path, "data-turbo-method": :delete %></p>

<ul>
  <% @areas.each do | area | %>
  <li>
    <%= link_to area.name, staff_messages_path(area_id:area.id) %>
  </li>
  <% end %>
</ul>
<% if @drivers != nil %>
  <h2>Drivers in <%= @area_name %></h2>
  <ul>
    <% @drivers.each do | driver | %>
      <li>
        <%= link_to driver.email, staff_message_path(driver.id)%>
      </li>
    <% end %>
  </ul>
  <% else %>
  <p>Select an area to display drivers</p>
<% end %>

<% if staff_signed_in? %>
  <%= link_to 'back', staff_home_index_path %>
<% elsif driver_signed_in? %>
  <%= link_to 'back', driver_home_index_path %>
<% end %>